
a:link {
    text-decoration: none;
}
.listcenter a:hover {
    background-color: rgb(145, 207, 145);
}
a:hover {
    background-color: rgb(145, 207, 145);
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(45, 160, 160);
    text-shadow: 2px 2px rgb(50, 69, 113);
}
h4{
    padding-bottom: -20px;
}
ul,
ol {
    display: inline-block;
    text-align: left;
    list-style-position:outside;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: large;
}
body {
    background-color: honeydew;
    border: double rgb(51, 58, 51) 5px;
    padding-bottom: 10px;
}
.images{
    width:300px;
    height:auto;
}
.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.listcenter {
    text-align: center;
}
.textcenter {
    text-align:center;
}
.subpageheaders {
    position:relative; left:40px;
}
.homebutton {
    display: inline-flex;
    border: 2px solid rgb(137, 172, 134);
    margin-bottom:-5px;
    padding: 5px 10px;
    font-size: larger;
    font-weight: bolder;
}
.homeposition {
    display:block;
    text-align: center;
}
.listcenter {
    display: flex;
    height: 50px;
}
.listcenter a {
    color: black;
    width: 100px;
    height: 35px;
    padding:10px;
    border: 3px solid honeydew;
    background-color: rgb(201, 227, 201);
}
#indexbody {
    background-color: honeydew;
    border: double rgb(51, 58, 51) 5px;
    padding-bottom: 220px;
    height:fit-content;
}
#recipes {
    text-align: center;
}
